
body {background-color:#050b0b;}
#sea {max-width: 100%; height: auto;
    position: absolute;
    top: 54%;
    left:0%; 
    width:100%; 
    z-index:2; }    
#ev {
display: block;
      margin: 0 auto;
      width: 70%;
      height: auto;
    }
#tr {max-width: 100%; height: auto;
     position: absolute;
     top: 4%;
     left:0%; 
     width: 100%; 
     z-index: 1; }
#r1 {max-width: 100%; height: auto;
     position: absolute;
     top: 47%;
     left:0%; 
     width: 32%; 
     z-index: 4; }
#r2 {max-width: 100%; height: auto;
     position: absolute;
     top: 45%;
     left:77%; 
     width: 23%; 
     z-index: 4; }
#r3 {max-width: 100%; height: auto;
     position: absolute;
     top: 20%;
     left:0%; 
     width: 90%; 
     z-index: 1; }

.fox {max-width: 50%;
        height: auto;
        position: absolute;
        top: 40%;
        left: 6%; 
        width: 45.85%; 
        z-index: 3;
        animation: slide-in-fox 2s forwards;}
.fox img { position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;}
        @keyframes slide-in-hepari { from { transform: translateX(-100%);opacity: 0;}}
        @keyframes slide-in-ina1 { from { transform: translateX(-100%);opacity: 0;}}
        @keyframes slide-in-fox {from {transform: translateX(100%);opacity: 0; }}
        